body{
    background: coral;
}

h1{
    text-align: center;
}

#preview{
    text-align: center;
}

#main{
    text-align: center;
    
}

form{
    text-align: center;
}

footer{
    text-align: center;
}